{% extends "menu/base.html" %}
{% block content %}
<!-- END sections: header-group -->

<main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
    <section id="shopify-section-template--16888208228573__main" class="shopify-section section"><link href="/static/mayorista/section-main-page.css" rel="stylesheet" type="text/css" media="all">
<style data-shopify="">.section-template--16888208228573__main-padding {
  padding-top: 27px;
  padding-bottom: 27px;
}

@media screen and (min-width: 750px) {
  .section-template--16888208228573__main-padding {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}</style><div class="page-width page-width--narrow section-template--16888208228573__main-padding">
<h1 class="main-page-title page-title h0 scroll-trigger animate--fade-in">
  Mayoristas de Té
</h1>
<div class="rte scroll-trigger animate--slide-in">
  ¿Sabías que el consumo de té en Chile aumenta año tras año, convirtiéndonos en el país con el mayor consumo per cápita en Latinoamérica? Por esta razón, ofrecer una selección de té de calidad en tu negocio puede impulsar tus ventas.<br data-mce-fragment="1"><br data-mce-fragment="1">¿Estás buscando té para tu cafetería, tienda gourmet o para regalos corporativos? ¡No busques más! Contamos con una amplia variedad de opciones, diversos formatos y ofrecemos la mejor asesoría personalizada para convertirnos en tu socio comercial.<br data-mce-fragment="1"><br data-mce-fragment="1">Cotiza ahora a través del formulario en nuestro sitio web o contáctanos por WhatsApp al +56923704581 para iniciar una colaboración exitosa. Mejora tu oferta y establece una asociación estratégica con nosotros.
</div>
</div>


</section><section id="shopify-section-template--16888208228573__form" class="shopify-section section"><link href="/static/mayorista/section-contact-form.css" rel="stylesheet" type="text/css" media="all">
<style data-shopify="">.section-template--16888208228573__form-padding {
  padding-top: 27px;
  padding-bottom: 27px;
}

@media screen and (min-width: 750px) {
  .section-template--16888208228573__form-padding {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}</style><div class="color-background-1 gradient">
<div class="contact page-width page-width--narrow section-template--16888208228573__form-padding"><h2 class="visually-hidden">Formulario de contacto</h2><form method="post" action="https://mundodelte.cl/contact#ContactForm" id="ContactForm" accept-charset="UTF-8" class="isolate scroll-trigger animate--slide-in"><input type="hidden" name="form_type" value="contact"><input type="hidden" name="utf8" value="✓"><div class="contact__fields">
      <div class="field">
        <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[Nombre]" value="" placeholder="Nombre">
        <label class="field__label" for="ContactForm-name">Nombre</label>
      </div>
      <div class="field field--with-error">
        <input autocomplete="email" type="email" id="ContactForm-email" class="field__input" name="contact[email]" spellcheck="false" autocapitalize="off" value="" aria-required="true" placeholder="Correo electrónico">
        <label class="field__label" for="ContactForm-email">Correo electrónico
          <span aria-hidden="true">*</span></label></div>
    </div>
    <div class="field">
      <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[Número de teléfono]" pattern="[0-9\-]*" value="" placeholder="Número de teléfono">
      <label class="field__label" for="ContactForm-phone">Número de teléfono</label>
    </div>
    <div class="field">
      <textarea rows="10" id="ContactForm-body" class="text-area field__input" name="contact[Comentario]" placeholder="Comentario"></textarea>
      <label class="form__label field__label" for="ContactForm-body">Comentario</label>
    </div>
    <div class="contact__button">
      <button type="submit" class="button">
        Enviar
      </button>
    </div></form></div>
</div>


</section>
  </main><div id="WebPixelsManagerSandboxContainer" aria-hidden="true" tabindex="-1" style="height: 0px !important; width: 0px !important; position: fixed !important; visibility: hidden !important; overflow: hidden !important; z-index: -100 !important; margin: 0px !important; padding: 0px !important; border: 0px !important;"><iframe src="/static/mayorista/mayoristas-de-te.html" id="web-pixel-sandbox-CUSTOM-shopify-custom-pixel-LAX-b06604fcw35017947p5dc7d676m3b6e9e66" name="web-pixel-sandbox-CUSTOM-shopify-custom-pixel-LAX-b06604fcw35017947p5dc7d676m3b6e9e66" sandbox="allow-scripts allow-forms" tabindex="-1" aria-hidden="true" style="height: 0px !important; width: 0px !important; visibility: hidden !important;"></iframe></div><script src="/static/mayorista/js" async=""></script>

  <!-- BEGIN sections: footer-group -->
{% endblock content %} 