{% extends "menu/base.html" %}
{% block content %}
<!-- END sections: header-group -->

<main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
    <section id="shopify-section-template--16888207900893__main" class="shopify-section section"><link href="/static/blog/component-article-card.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/blog/component-card.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/blog/section-main-blog.css" rel="stylesheet" type="text/css" media="all">
<style data-shopify="">.section-template--16888207900893__main-padding {
  padding-top: 27px;
  padding-bottom: 27px;
}

@media screen and (min-width: 750px) {
  .section-template--16888207900893__main-padding {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}</style><div class="main-blog page-width section-template--16888207900893__main-padding">
  <h1 class="title--primary scroll-trigger animate--fade-in">
    Blog de té
  </h1>

  <div class="blog-articles blog-articles--collage"><div class="blog-articles__article article scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 1;">
<div class="article-card-wrapper card-wrapper underline-links-hover">
  
  <div class="
      card article-card
      card--standard
       article-card__image--medium
       card--media
      
      
    " style="--ratio-percent: 100.0%;">
    <div class="card__inner  color-background-2 gradient ratio" style="--ratio-percent: 100.0%;"><div class="article-card__image-wrapper card__media">
          <div class="article-card__image media media--hover-effect">
            
            <img srcset="//mundodelte.cl/cdn/shop/articles/Diseno_sin_titulo_9.png?v=1714685553&amp;width=165 165w,//mundodelte.cl/cdn/shop/articles/Diseno_sin_titulo_9.png?v=1714685553&amp;width=360 360w,//mundodelte.cl/cdn/shop/articles/Diseno_sin_titulo_9.png?v=1714685553&amp;width=533 533w,//mundodelte.cl/cdn/shop/articles/Diseno_sin_titulo_9.png?v=1714685553&amp;width=720 720w,//mundodelte.cl/cdn/shop/articles/Diseno_sin_titulo_9.png?v=1714685553&amp;width=1000 1000w,//mundodelte.cl/cdn/shop/articles/Diseno_sin_titulo_9.png?v=1714685553 1080w
              " src="/static/blog/Diseno_sin_titulo_9.png" sizes="(min-width: 1200px) 550px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="Mayo: El Mes del Té y la Celebración Internacional del Té el 21 de Mayo" class="motion-reduce" loading="lazy" width="1080" height="1080">
            
          </div>
        </div><div class="card__content">
        <div class="card__information">
          <h3 class="card__heading h2">
            <a href="https://mundodelte.cl/blogs/the-tea-news/mayo-el-mes-del-te-y-la-celebracion-internacional-del-te-el-21-de-mayo" class="full-unstyled-link">
              Mayo: El Mes del Té y la Celebración Internacio...
            </a>
          </h3>
          <div class="article-card__info caption-with-letter-spacing h5"><span class="circle-divider"><time datetime="2024-05-02T21:27:45Z">2 de mayo de 2024</time></span></div><p class="article-card__excerpt rte-width">Mayo: El Mes del Té y la Celebración Internacional del Té el 21 de MayoDescubre por qué mayo es el Mes del Té y por qué se celebra el Día...
</p><div class="article-card__footer"></div></div></div>
    </div>
    <div class="card__content">
      <div class="card__information">
        <h3 class="card__heading h2">
          <a href="https://mundodelte.cl/blogs/the-tea-news/mayo-el-mes-del-te-y-la-celebracion-internacional-del-te-el-21-de-mayo" class="full-unstyled-link">
            Mayo: El Mes del Té y la Celebración Internacio...
          </a>
        </h3>
        <div class="article-card__info caption-with-letter-spacing h5"><span class="circle-divider"><time datetime="2024-05-02T21:27:45Z">2 de mayo de 2024</time></span></div><p class="article-card__excerpt rte-width">Mayo: El Mes del Té y la Celebración Internacional del Té el 21 de MayoDescubre por qué mayo es el Mes del Té y por qué se celebra el Día...
</p><div class="article-card__footer"></div></div></div>
  </div>
</div></div><div class="blog-articles__article article scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 0;">
<div class="article-card-wrapper card-wrapper underline-links-hover">
  
  <div class="
      card article-card
      card--standard
       article-card__image--medium
       card--media
      
      
    " style="--ratio-percent: 56.16161616161616%;">
    <div class="card__inner  color-background-2 gradient ratio" style="--ratio-percent: 56.16161616161616%;"><div class="article-card__image-wrapper card__media">
          <div class="article-card__image media media--hover-effect">
            
            <img srcset="//mundodelte.cl/cdn/shop/articles/TE_AZUL.webp?v=1713290094&amp;width=165 165w,//mundodelte.cl/cdn/shop/articles/TE_AZUL.webp?v=1713290094&amp;width=360 360w,//mundodelte.cl/cdn/shop/articles/TE_AZUL.webp?v=1713290094&amp;width=533 533w,//mundodelte.cl/cdn/shop/articles/TE_AZUL.webp?v=1713290094&amp;width=720 720w,//mundodelte.cl/cdn/shop/articles/TE_AZUL.webp?v=1713290094 990w
              " src="/static/blog/TE_AZUL.webp" sizes="(min-width: 1200px) 550px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="Té azul flor guisante de mariposa infusión" class="motion-reduce" loading="lazy" width="990" height="556">
            
          </div>
        </div><div class="card__content">
        <div class="card__information">
          <h3 class="card__heading h2">
            <a href="https://mundodelte.cl/blogs/the-tea-news/descubre-el-poder-relajante-del-te-azul-blend-de-te-verde-con-flor-guisante-de-mariposa" class="full-unstyled-link">
              Descubre el Poder Relajante del Té Azul Blend d...
            </a>
          </h3>
          <div class="article-card__info caption-with-letter-spacing h5"><span class="circle-divider"><time datetime="2024-04-16T17:53:31Z">16 de abril de 2024</time></span></div><p class="article-card__excerpt rte-width">El té de flor de guisante de mariposa, también conocido como té de mariposa azul, es una infusión que se elabora a partir de las flores de la planta Clitoria...
</p><div class="article-card__footer"></div></div></div>
    </div>
    <div class="card__content">
      <div class="card__information">
        <h3 class="card__heading h2">
          <a href="https://mundodelte.cl/blogs/the-tea-news/descubre-el-poder-relajante-del-te-azul-blend-de-te-verde-con-flor-guisante-de-mariposa" class="full-unstyled-link">
            Descubre el Poder Relajante del Té Azul Blend d...
          </a>
        </h3>
        <div class="article-card__info caption-with-letter-spacing h5"><span class="circle-divider"><time datetime="2024-04-16T17:53:31Z">16 de abril de 2024</time></span></div><p class="article-card__excerpt rte-width">El té de flor de guisante de mariposa, también conocido como té de mariposa azul, es una infusión que se elabora a partir de las flores de la planta Clitoria...
</p><div class="article-card__footer"></div></div></div>
  </div>
</div></div><div class="blog-articles__article article scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 1;">
<div class="article-card-wrapper card-wrapper underline-links-hover">
  
  <div class="
      card article-card
      card--standard
       article-card__image--medium
       card--media
      
      
    " style="--ratio-percent: 100.0%;">
    <div class="card__inner  color-background-2 gradient ratio" style="--ratio-percent: 100.0%;"><div class="article-card__image-wrapper card__media">
          <div class="article-card__image media media--hover-effect">
            
            <img srcset="//mundodelte.cl/cdn/shop/articles/Banner_Torneo_de_Boxeo_Diseno_Deportivo_Atrevido_Negro_Rojo_2.png?v=1710203339&amp;width=165 165w,//mundodelte.cl/cdn/shop/articles/Banner_Torneo_de_Boxeo_Diseno_Deportivo_Atrevido_Negro_Rojo_2.png?v=1710203339&amp;width=360 360w,//mundodelte.cl/cdn/shop/articles/Banner_Torneo_de_Boxeo_Diseno_Deportivo_Atrevido_Negro_Rojo_2.png?v=1710203339&amp;width=533 533w,//mundodelte.cl/cdn/shop/articles/Banner_Torneo_de_Boxeo_Diseno_Deportivo_Atrevido_Negro_Rojo_2.png?v=1710203339&amp;width=720 720w,//mundodelte.cl/cdn/shop/articles/Banner_Torneo_de_Boxeo_Diseno_Deportivo_Atrevido_Negro_Rojo_2.png?v=1710203339&amp;width=1000 1000w,//mundodelte.cl/cdn/shop/articles/Banner_Torneo_de_Boxeo_Diseno_Deportivo_Atrevido_Negro_Rojo_2.png?v=1710203339 1080w
              " src="/static/blog/Banner_Torneo_de_Boxeo_Diseno_Deportivo_Atrevido_Negro_Rojo_2.png" sizes="(min-width: 1200px) 550px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="El té al por mayor : Una oportunidad de negocio para cafeterías, emporios y regalos corporativos en Chile" class="motion-reduce" loading="lazy" width="1080" height="1080">
            
          </div>
        </div><div class="card__content">
        <div class="card__information">
          <h3 class="card__heading h2">
            <a href="https://mundodelte.cl/blogs/the-tea-news/el-te-al-por-mayor-en-chile-una-oportunidad-de-negocio-para-cafeterias-emporios-y-regalos-corporativos" class="full-unstyled-link">
              El té al por mayor : Una oportunidad de negocio...
            </a>
          </h3>
          <div class="article-card__info caption-with-letter-spacing h5"><span class="circle-divider"><time datetime="2024-03-12T00:25:36Z">11 de marzo de 2024</time></span></div><p class="article-card__excerpt rte-width">¿Sabías que el té es una de las bebidas más consumidas en el mundo? y que en Chile somos los mayores consumidores de Latinoamérica? Es por eso que ofrecer un...
</p><div class="article-card__footer"></div></div></div>
    </div>
    <div class="card__content">
      <div class="card__information">
        <h3 class="card__heading h2">
          <a href="https://mundodelte.cl/blogs/the-tea-news/el-te-al-por-mayor-en-chile-una-oportunidad-de-negocio-para-cafeterias-emporios-y-regalos-corporativos" class="full-unstyled-link">
            El té al por mayor : Una oportunidad de negocio...
          </a>
        </h3>
        <div class="article-card__info caption-with-letter-spacing h5"><span class="circle-divider"><time datetime="2024-03-12T00:25:36Z">11 de marzo de 2024</time></span></div><p class="article-card__excerpt rte-width">¿Sabías que el té es una de las bebidas más consumidas en el mundo? y que en Chile somos los mayores consumidores de Latinoamérica? Es por eso que ofrecer un...
</p><div class="article-card__footer"></div></div></div>
  </div>
</div></div><div class="blog-articles__article article scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 0;">
<div class="article-card-wrapper card-wrapper underline-links-hover">
  
  <div class="
      card article-card
      card--standard
       article-card__image--medium
       card--media
      
      
    " style="--ratio-percent: 56.22254758418741%;">
    <div class="card__inner  color-background-2 gradient ratio" style="--ratio-percent: 56.22254758418741%;"><div class="article-card__image-wrapper card__media">
          <div class="article-card__image media media--hover-effect">
            
            <img srcset="//mundodelte.cl/cdn/shop/articles/Stylish_Aesthetic_Summer_Photo_Collage_Banner_3.png?v=1704654278&amp;width=165 165w,//mundodelte.cl/cdn/shop/articles/Stylish_Aesthetic_Summer_Photo_Collage_Banner_3.png?v=1704654278&amp;width=360 360w,//mundodelte.cl/cdn/shop/articles/Stylish_Aesthetic_Summer_Photo_Collage_Banner_3.png?v=1704654278&amp;width=533 533w,//mundodelte.cl/cdn/shop/articles/Stylish_Aesthetic_Summer_Photo_Collage_Banner_3.png?v=1704654278 683w
              " src="/static/blog/Stylish_Aesthetic_Summer_Photo_Collage_Banner_3.png" sizes="(min-width: 1200px) 550px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="Cómo preparar té helado. Una bebida refrescante y saludable para el verano" class="motion-reduce" loading="lazy" width="683" height="384">
            
          </div>
        </div><div class="card__content">
        <div class="card__information">
          <h3 class="card__heading h2">
            <a href="https://mundodelte.cl/blogs/the-tea-news/te-helado-receta-facil-y-saludable" class="full-unstyled-link">
              Cómo preparar té helado. Una bebida refrescante...
            </a>
          </h3>
          <div class="article-card__info caption-with-letter-spacing h5"><span class="circle-divider"><time datetime="2024-01-07T19:32:12Z">7 de enero de 2024</time></span></div><p class="article-card__excerpt rte-width">¡Bienvenidos al Mundo del Té! Estoy emocionada de compartir nuestro primer artículo del blog, y qué mejor manera de comenzar que con una receta especial de té helado casero para...
</p><div class="article-card__footer"></div></div></div>
    </div>
    <div class="card__content">
      <div class="card__information">
        <h3 class="card__heading h2">
          <a href="https://mundodelte.cl/blogs/the-tea-news/te-helado-receta-facil-y-saludable" class="full-unstyled-link">
            Cómo preparar té helado. Una bebida refrescante...
          </a>
        </h3>
        <div class="article-card__info caption-with-letter-spacing h5"><span class="circle-divider"><time datetime="2024-01-07T19:32:12Z">7 de enero de 2024</time></span></div><p class="article-card__excerpt rte-width">¡Bienvenidos al Mundo del Té! Estoy emocionada de compartir nuestro primer artículo del blog, y qué mejor manera de comenzar que con una receta especial de té helado casero para...
</p><div class="article-card__footer"></div></div></div>
  </div>
</div></div><div class="blog-articles__article article scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 0;">
<div class="article-card-wrapper card-wrapper underline-links-hover">
  
  <div class="
      card article-card
      card--standard
       article-card__image--medium
       card--media
      
      
    " style="--ratio-percent: 100.0%;">
    <div class="card__inner  color-background-2 gradient ratio" style="--ratio-percent: 100.0%;"><div class="article-card__image-wrapper card__media">
          <div class="article-card__image media media--hover-effect">
            
            <img srcset="//mundodelte.cl/cdn/shop/articles/WhatsApp_Image_2023-12-16_at_17.19.51.jpg?v=1704655773&amp;width=165 165w,//mundodelte.cl/cdn/shop/articles/WhatsApp_Image_2023-12-16_at_17.19.51.jpg?v=1704655773&amp;width=360 360w,//mundodelte.cl/cdn/shop/articles/WhatsApp_Image_2023-12-16_at_17.19.51.jpg?v=1704655773&amp;width=533 533w,//mundodelte.cl/cdn/shop/articles/WhatsApp_Image_2023-12-16_at_17.19.51.jpg?v=1704655773&amp;width=720 720w,//mundodelte.cl/cdn/shop/articles/WhatsApp_Image_2023-12-16_at_17.19.51.jpg?v=1704655773&amp;width=1000 1000w,//mundodelte.cl/cdn/shop/articles/WhatsApp_Image_2023-12-16_at_17.19.51.jpg?v=1704655773&amp;width=1500 1500w,//mundodelte.cl/cdn/shop/articles/WhatsApp_Image_2023-12-16_at_17.19.51.jpg?v=1704655773 1600w
              " src="/static/blog/WhatsApp_Image_2023-12-16_at_17.19.51.jpg" sizes="(min-width: 1200px) 550px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="Inicia tu viaje en el mundo del té con el kit sommelier: Travesía" class="motion-reduce" loading="lazy" width="1600" height="1600">
            
          </div>
        </div><div class="card__content">
        <div class="card__information">
          <h3 class="card__heading h2">
            <a href="https://mundodelte.cl/blogs/the-tea-news/inicia-tu-viaje-en-el-mundo-del-te-con-el-kit-sommelier-travesia" class="full-unstyled-link">
              Inicia tu viaje en el mundo del té con el kit s...
            </a>
          </h3>
          <div class="article-card__info caption-with-letter-spacing h5"><span class="circle-divider"><time datetime="2024-01-07T19:31:54Z">7 de enero de 2024</time></span></div><p class="article-card__excerpt rte-width">Descubre el Kit Sommelier "Travesía" de Solange Treguear, diseñado para amantes del té. Este conjunto eleva la experiencia con una taza de cata, cuenco y bitácora de té. Incluye 20g...
</p><div class="article-card__footer"></div></div></div>
    </div>
    <div class="card__content">
      <div class="card__information">
        <h3 class="card__heading h2">
          <a href="https://mundodelte.cl/blogs/the-tea-news/inicia-tu-viaje-en-el-mundo-del-te-con-el-kit-sommelier-travesia" class="full-unstyled-link">
            Inicia tu viaje en el mundo del té con el kit s...
          </a>
        </h3>
        <div class="article-card__info caption-with-letter-spacing h5"><span class="circle-divider"><time datetime="2024-01-07T19:31:54Z">7 de enero de 2024</time></span></div><p class="article-card__excerpt rte-width">Descubre el Kit Sommelier "Travesía" de Solange Treguear, diseñado para amantes del té. Este conjunto eleva la experiencia con una taza de cata, cuenco y bitácora de té. Incluye 20g...
</p><div class="article-card__footer"></div></div></div>
  </div>
</div></div></div></div>
</section>
  </main>

  <!-- BEGIN sections: footer-group -->
{% endblock content %} 
